@charset "UTF-8";

/* - boardlist,boardcri - */
	
		h2 {
			padding: 50px;
			font-size: 40px;
		}

		a {
        	text-decoration: none;
        }
        .boardcolor {
        	background-color: rgba(0, 0, 0, 0.8);
        	color: white;
        }

        .searchBar {
            height: 40px;
            line-height: 40px;
            text-align: center;
        }

        .crisearch {
            width: 250px;
        }

        #searchType {
			height: 30px;
        }

        [id="searchBtn"] {
            border: 1px solid rgb(154, 154, 235);
            background-color: white;
            color: rgb(60, 60, 235);
            height: 30px;
            line-height: 30px;
            width: 60px;
        }

        [id="searchBtn"]:hover {
            background-color: rgb(93, 93, 240);
            color: white;
        }

        [id="searchBtn"]:hover {
            background-color: rgb(93, 93, 240);
            font-size: 15px;
        }
		.board_maincontainer {
			text-align: center;
    		margin: 30px 0px;
		}

        table {
            border-collapse: collapse;
            width: 100%;
            border-top: 1px solid #eeeeee;
            border-right: 1px solid #eeeeee;
            border-left: 1px solid #eeeeee;
        }
        
        .pdlisten {
        	width: 818px;
        }

        tr:nth-child(even) {
            background-color: #f0f0f070;
        }

        th,
        td {
            width: 300px;
            padding: 10px 12px;
            border-bottom: 1px solid #ddd;
        }

        td {
            color: white;
            font-weight: bold;
        }
        
        .listentitleColor {
        	color: black;
        }
        
        .listentitle {
        	color: black;
        }
        
        td>a, .board-footmenu>a {
        	color:white;
            text-decoration: none;
        }

        th, .bordlist_main :not([id="none"]) {
            text-align: center;
        }

        .board-footmenu {
            height: 30px;
            line-height: 30px;
            margin: 0 20px;
        }
		.right {
			text-align: right;
		}
		
/* - boardinsert - */
		
		.container {
            width : 80%;
            margin : auto;
        }
        .writing-header {
            position: relative;
            margin: 20px 0 0 0;
            padding-bottom: 10px;
        }
        .date{
       	 	width: 102%;
            text-align: right;
            border-bottom: 1px solid #323232;
            font-size: 13px;
        }
        .fr {
            text-align: right;
            font-size: 13px;
        }
        .side {
        	 width: 818px;
        }
        .side>a {
        	text-decoration: none;
        	color: white;
        }
        .idarea {
        	background-color: white;
        	border-style: none;
        }
        input:not([class=form-control]){
            /* width: 100%; */
            height: 27px;
            /* margin: 5px 0px 10px 0px; */
            border: 1px solid #e9e8e8;
            background: #f8f8f8;
            outline-color: #e6e6e6;
        }
        
        input :not([id=uploadfilef]) {
        	padding: 8px;
        }
        
        
        
        textarea {
            width: 100%;
            background: #f8f8f8;
            margin: 0px 0px 10px 0px;
            border: 1px solid #e9e8e8;
            resize: none;
            padding: 8px;
            outline-color: #e6e6e6;
        }
        
        .title {
        	padding: 8px;
        	width: 100%;
        }
        
        .frm {
            width:100%;
        }

        .btnf {
        background-color: rgb(236, 236, 236);
        border: none;
        color: black;
        padding: 6px 8px;
        font-size: 16px;
        cursor: pointer;
        border-radius: 5px;
        }

        .btn:hover {
        text-decoration: underline;
        }
        
        
		/* 곡번호 */
		.pdmusic-table td:nth-of-type(1) {
			text-align:center;
		    width: 15%;
		}
		/* 타이틀 */
		.pdmusic-table td:nth-of-type(2) {
		    width: 55%;
		    text-align : left;
		}
		/* 작곡가 */
		.pdmusic-table td:nth-of-type(3) {
			text-align:center;
		    width: 20%;
		}

		/* 듣기 */
		.pdmusic-table td:nth-of-type(5) {
		    width: 5%;
		    padding : 5px;
		}
        
		
        
        
/* - boardetail - */ 

		#reply span {
			font-weight: 700;
			font-size: 15px;
			word-break: break-word;
		}

		.vote {
			text-align: center;
		}
		
		.vote > img {
			width: 50px;
			height: 50px;
		}

		
		.vote :hover {
			cursor: pointer;
		
		}
		
		.pull-right {
			background-color: lightgreen;
		    height: 30px;
		    color: black;
    		border: solid 1px white;
    		border-radius: 10px; 
    		cursor: pointer;
		}
		.btn-view {
			width: 64px;
		}
		.btn-success {
			width: 37px;
		}
		
		.replybtnbox, .pdreplybtnbox {
			margin-top: 10px;
		}
        
        #replyfont {
        	border-top: 1px solid #e9e8e8;
        }
        
        .replydate {
        	text-align: right;
        }
        
        .reply-btn {
        	text-align: right;
        }
        
        .fa-edit {
        	color: black;
        }
        
        .replycontent {
        	display:inline-block;
        	height: 50px;
        }
        
        .replycolor {
       		width: 777.19px;
        	color: black;
            font-weight: bold;
        }
        
        .contentarea {
        	text-align: left;
        }
        
		.hidden {
		    display: none;
		}
        
        